header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 40px;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
}

ul li a{
    margin-right: 50px;
    
    text-decoration: none;
    font-size: 15px;
    color: black;
    font-weight: bold;
    font-family: "Angkor", serif;
}

.as{
    font-size: 25px;
    color: black;
    font-weight: bold;
    font-family: "Madimi One", sans-serif;
    padding-left: 20px;
}

ul li a:hover{
    color: green;
    cursor: pointer;
}

.icon{
    margin-right: 20px;
    font-weight: bold;
    float: left;
}

.image{
    width: 30px;
    height: auto;
}

.top{

    margin-top: 70px;
    font-weight: 600;

}
.vv{
    font-size: 30px;

}

.ww{
    font-size: 50px;
    font-weight: bold;
}

.img{
    width: 500px;
    height: 300px;
}